<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Dragon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Edit Dragon with id {{dragon_id}}</h1>

    {{dragon_colors}}
    {% for dragon_color in dragon_colors %}
        {% if dragon_color == 'green' %}
        {% else %}
        <p>{{dragon_color}}</p>
        {% endif %}
    {% endfor %}

    <a href="/" class="btn btn-outline-warning">DASHBOARD</a>

</body>
</html>